html {
    background-color: #111111;
    color: #ffffff;
}

#linha_menu {
    background-color: #1A1C1E;
}

#id_linha_analise {
    background-color: #1A1C1E;
}

.class_layout {
    background-color: #111111;
    color: #ffffff;
}

/*.class_cartao_info {*/
/*    background: #1A1C1E;*/
/*}*/

/*.id_linha_graficos {*/
/*    margin-top: 10px;*/
/*}*/

/*.id_linha_principal_1 {*/
/*    margin-bottom: 10px;*/
/*}*/

/*.class_graficos {*/
/*    background: #1A1C1E;*/
/*    margin-top: 10px;*/
/*    margin-bottom: 10px;*/
/*}*/



